In [ ]:
print("hello world")

hello world

In [ ]:
1+12

13

In [ ]:
import random

print(random.randint(1,10))

5

In [ ]:
my_list = [1, 2, 3]

In [ ]:
for i in my_list : 
  print(i)

  # 소괄호는 문법이고 약속임

1
2
3

In [ ]:
print(1,2,3)
print(1, 2, 3) # print : 출력 / input : 입력

1 2 3
1 2 3

In [ ]:
input() # 입력을 기다리고 있음

입력

'입력'

In [ ]:
input("이름을 입력!")

이름을 입력!이름

'이름'

In [ ]:
input("당신의 나이는?")

당신의 나이는?나이

'나이'

In [ ]:
age = input("당신의 나이는?")

당신의 나이는?나이

In [ ]:
age

'나이'

In [ ]:
# 파이썬 다운로드

# 개발자는 파이썬 홈페이지에서 2점대받고
# 2.7 이후의 업데이트 버전은 없음!

# 그런거 상관없는 초보는 3점대 받아야함

In [ ]:
# variable = 변수
# 값을 저장하려면 = 을 써야함~ 값을 할당한다!
# 변할 수 있기 때문에 변수라고 함!

# 파이썬도 객체지향언어고 class 가 있음
# 파이썬 튜터라는 사이트가있음~ 실제로 메모리가 어떻게 돌고있는지 볼 수 있음

# my_int가 1이 저장된 공간을 참조함
# 대문자 소문자를 구분하고, 한글도 됨
# 변수명은 숫자로 시작할 수 없고, 띄어쓰기 x

In [ ]:
my_float = 3.14

In [ ]:
type(my_float)

float

In [ ]:
# int, float = 숫자
# string 문자열
# boolean 예, 아니오

In [ ]:
# 다양한 자료형을 모아서 list [] 대괄호 , 한꺼번에 모든 타입 수용가능능

import random
student = [1,2,3]
print(random.choice(student))

2

In [ ]:
student.append(4)

In [ ]:
for std in student :
  print(std)

1
2
3
4

In [ ]:
# tuple list랑 비슷한데 값을 바꿀수가없음, 소괄호

student[0] = 5
student # 값이 바뀜

[5, 2, 3, 4]

In [ ]:
my_tuple = (1,2,3)

In [ ]:
# my_tuple[0] = 4 # 튜플은 안된다고 에러가 남

In [ ]:
# dictionary 여러개 값을 저장하는 자료형
# 키랑 값으로 나뉘어져있음

In [ ]:
my_dict = {'홍길동' : '남', '온달' : '남', '평강공주' : '여여'}

In [ ]:
my_dict['홍길동'] # 의미있는 이름(홍길동)이 키, 성별이(값)

'남'

In [ ]:
my_dict['홍길동']= '남자' # 수정하는법

In [ ]:
my_dict['홍길동']

'남자'

In [ ]:
my_int = 1
type(my_int) # 타입을 확인함

int

In [ ]:
float(my_int)

1.0

In [ ]:
str(my_int)

'1'

In [ ]:
type(str(my_int))

str

In [ ]:
my_str = "coding"

In [ ]:
list(my_str) # 강제로 변환되어 값들이 하나씩 뽑혀옴

['c', 'o', 'd', 'i', 'n', 'g']

In [ ]:
my_str = "띄어쓰기 가능 여러줄은 안됨"
my_str

'띄어쓰기 가능 여러줄은 안됨'

In [ ]:
my_str = """하나
둘
셋"""

In [ ]:
my_str # 줄바꿈을 저장 가능

'하나\n둘\n셋'

In [ ]:
# 문자열 formatting 좀 더 잘 표현하기 위해서서

In [ ]:
my_name = 'my name is %s' % 'kim'

In [ ]:
my_name # 뒤에 있는게 %s에 대입됨

'my name is kim'

In [ ]:
'%d %d' % (1, 2) # %s 는 실수, %d 는 정수

'1 2'

In [ ]:
'%f' % 3.14

'3.140000'

In [ ]:
# 위에선 c에서 나온거고 밑엔 파이썬꺼
# '{}'.format

'my name is {}'.format('김해인')

'my name is 김해인'

In [ ]:
'{} x {} = {}'.format(2,3,2*3)

'2 x 3 = 6'

In [ ]:
'{1} x {0} = {2}'.format(2,3,2*3) # 맞춰서 다 써줘야함

'3 x 2 = 6'

In [ ]:
#index 주소, 위치
# 파이썬은 0부터 시작 index 2 라면 3번째꺼 불러옴
# 0부터 쓰면 한칸이라도 더 아낄 수 있어서 그렇게 쓰는거거

In [ ]:
my_index = "나의 파이썬 공부!" # 띄어쓰기도 할당됨

In [ ]:
my_index[3]

'파'

In [ ]:
my_index[2]

' '

In [ ]:
# -1부터 시작할 수도 있음 -1은 맨 오른쪽기준 왼쪽으로 갈수록 -2
my_index[-1]
my_index[-2]

'부'

In [ ]:
# list를 자르는게 slicing
# 공부만 자르고 싶으면 [7:9]

In [ ]:
my_index[7:9]

'공부'

In [ ]:
my_index[:7] # 0부터 7까지

'나의 파이썬 '

In [ ]:
my_index[3:] # 3부터 끝까지

'파이썬 공부!'

In [ ]:
my_index[:] #전부

'나의 파이썬 공부!'

In [ ]:
# string.split()
# 함수 : 어떤 기능을 수행하는 코드, 반복해서 쓸 수 있게
# 메소드 : 함수인데 string들만 사용할 수 있는 함수

# string이라는 자료형 함수는 split이라는 함수를 사용할 수 있다

# 간단하게 구별법
# 함수는 sum(), abs() 같이 독립적으로 사용되는 반면,
# 메서드는 a라는 객체가 존재할 때 a.upper(), a.lower()와 같은 형태로 사용됩니다.

In [ ]:
my_index.split() # 공백을 기준으로 잘림림

['나의', '파이썬', '공부!']

In [ ]:
# 기본이 띄어쓰기 옵션을 줄 수 있음
my_index.split(" ")

['나의', '파이썬', '공부!']

In [ ]:
# 모든것은 구글에 다 있음

# Docstring # 주석?
""" 이것도 주석이다! """ # 함수 설명을 위해 쓰는 주석

' 이것도 주석이다! '

In [ ]:
print('', end="")

In [ ]:
print('뒤에붙이기', end="/")

뒤에붙이기/

In [ ]:
# escape code 특정한 기능을 수행하는 문자의 조합
# \n 엔터 / \t 탭탭

In [ ]:
print('엔터\n,그리고탭\t', end="이건보기위해붙임")

엔터
,그리고탭	이건보기위해붙임

In [ ]:
print('엔터\n, 그리고탭', end = "\t"); print('강의에서쓰길래')

엔터
, 그리고탭	강의에서쓰길래

In [ ]:
# list 변수가 100개든 10만개든 저장 가능
# 한번 넣었던거를 빼거나 수정할 수 있음
# 이뮤터블 =  값 변경이 안됨, 뉴터블 = 값 변경이 됨

In [ ]:
test_list = []

In [ ]:
type(test_list)

list

In [ ]:
test_list = ['문자열', 1, '숫자도ok']

In [ ]:
test_list

['문자열', 1, '숫자도ok']

In [ ]:
test_list.append('맨마지막에추가')

In [ ]:
test_list

['문자열', 1, '숫자도ok', '맨마지막에추가']

In [ ]:
# test.append('없으니까추가안됨') # 오류

In [ ]:
# 파이썬 중간에 넣는법
# 파이썬 리스트 요소 삽입
test_list.insert(0, '추가')

In [ ]:
# indexing 주소 위치를 이용해 접근
test_list[0]

'추가'

In [ ]:
test_list

['추가', '문자열', 1, '숫자도ok', '맨마지막에추가']

In [ ]:
del test_list[4] # append와는 달리 지우는 함수

In [ ]:
test_list

['추가', '문자열', 1, '숫자도ok']

In [ ]:
test_list[1:3] # <- 슬라이싱복습

['문자열', 1]

In [ ]:
# 외우는게 중요한게 아니라 필요할때 검색해서 사용할 수 있으면 됨

In [ ]:
hanguel_list = list()
hanguel_list = ["나", "다", "가"]

hanguel_list.sort() # 가나다순으로 정렬, 숫자섞여있으면 안됨
hanguel_list

['가', '나', '다']

In [ ]:
hanguel_list.count('가') # 얼마나 있는지 count, 리스트만의 메소드
# 조금 더 자세하게 알고 싶으면 '구글' 파이썬 리스트 카운트~ 로 검색색

1

In [ ]:
del hanguel_list[1]

In [ ]:
hanguel_list

['가', '다']

In [ ]:
len(hanguel_list) # 값이 몇개가 있는지 보여줌, 함수임

2

In [ ]:
# 메서드를 쓸때는 list.append()인데
# 근데 len(list) 는 다른형식임. 이런걸 함수(정확히는 내장함수)라고 함

In [ ]:
# 튜플

# 튜플도 리스트와 마찬가지로 여러 값을 모아서 저장함
# 그러나 값을 변경할 수가 없음
# 뮤터블(값변경가능), 이뮤터블(값변경불가)

In [ ]:
# 괄호를 쓰지만 안쓰고 , , 해도 튜플이 됨

In [ ]:
my_tuple = ()
my_tuple

()

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
my_tuple = 1, 2, 3, 4, 5

In [ ]:
type(my_tuple)

tuple

In [ ]:
# packing unpacking

# 택배상자를 열음 unpacking / 택배상자를 쌈 packing

my_tuple = 1, 2, 3 # 패킹, 튜플로 묶어서 한꺼번에 저장장

In [ ]:
num1, num2, num3 = my_tuple # 마이튜플에 패킹되어있어서 가능, 이게 언패킹킹

In [ ]:
num1

1

In [ ]:
num2

2

In [ ]:
num3

3

In [ ]:
num1, num2 = num2, num1 # num2, num1이 하나로 패킹이되고 왼쪽에서 언패킹이 됨

In [ ]:
num1

2

In [ ]:
num2

1

In [ ]:
# for

# 반복되는 지루한 작업을 처리하는게 컴퓨터에겐 적격임
# for, while이 있음

# for 변수 in 컨테이너: (컨테이너는 list, 문자 이런거 다 가능능)
#     실행할 명령1
#     실행할 명령2

# 컨테이너의 0번째 첫번째 있는 값부터 변수에 들어감
# 명령 1, 2 실행 다시 돌아와서 1번째 값을 실행... 2번째.. 마지막이면 끝남
# 명령 1, 2 부분을 코드블럭이라고 함
# 코드블럭을 구분하기 위해 :,     들여쓰기로 구분함, 탭도 가능하긴 함
# 그러나 for안에서 4칸 띄기를 썼으면 무조건 그것만 써야하고 탭만쓰면 탭만 써야함

In [ ]:
for list in my_index:
  print(list)

나
의

파
이
썬

공
부
!

In [ ]:
for num in [4, 5, 6]:
  print(num)

4
5
6

In [ ]:
for str in "나의 파이썬 공부!":
  print(str)

나
의

파
이
썬

공
부
!

In [ ]:
range(3) # range는 내장함수

range(0, 3)

In [ ]:
type(range(3))

range

In [ ]:
for n in [0,1,2]:
  print(n)

0
1
2

In [ ]:
for n in range(0,3): # 0,1,2라고 일일히 쳐주지 않아도 됨, 파이썬은 0이상 3미만만
  print(n)

0
1
2

In [ ]:
for n in range(0,20):
  print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for n in range(2, 10):
  print(n)

2
3
4
5
6
7
8
9

In [ ]:
for i in range(1, 10):
  print('{}x{} = {}'.format(2, i, 2*i))

2x1 = 9
2x2 = 18
2x3 = 27
2x4 = 36
2x5 = 45
2x6 = 54
2x7 = 63
2x8 = 72
2x9 = 81

In [ ]:
for j in range(2,10):
  for i in range(1, 10):
      print('{}x{} = {}'.format(j, i, j*i))

      # 위에 읽고 밑에 보면 이해 됨!
      # 2가 들어와서 for i 다 돌아야 j로 다시 돌아갈 수 있음!
      # 중첩반복문

2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
4x1 = 4
4x2 = 8
4x3 = 12
4x4 = 16
4x5 = 20
4x6 = 24
4x7 = 28
4x8 = 32
4x9 = 36
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
7x1 = 7
7x2 = 14
7x3 = 21
7x4 = 28
7x5 = 35
7x6 = 42
7x7 = 49
7x8 = 56
7x9 = 63
8x1 = 8
8x2 = 16
8x3 = 24
8x4 = 32
8x5 = 40
8x6 = 48
8x7 = 56
8x8 = 64
8x9 = 72
9x1 = 9
9x2 = 18
9x3 = 27
9x4 = 36
9x5 = 45
9x6 = 54
9x7 = 63
9x8 = 72
9x9 = 81

In [ ]:
# 컴프리헨션 - 어려운데 편리함. 개념만 알고 있어도 좋음

numbers = [1,2,3,4,5,6,7,8,9,10]

odd_numbers = []

for number in numbers:
  if number % 2 == 1:
    # odd_numbers = number 이렇게 짜면 한번밖에 안들어감
    odd_numbers.append(number) # ()안에 number 넣는거 까먹음 바보보

In [ ]:
odd_numbers

[1, 3, 5, 7, 9]

In [ ]:
[number for number in numbers if number % 2 ==1]

[1, 3, 5, 7, 9]

In [ ]:
odd_numbers = [number for number in numbers if number % 2 ==1]

In [ ]:
# 연산자 ; 특정한 연산을 하는것
# 리스트 튜플도 자료형 이런것마다 연산자들이 존재

# assign 할당연산자
# = 어떤 변수에 어떤 값을 저장할때
# 변수 = 값 , 변수에 값을 넣는다, 오른쪽 값을 왼쪽에 할당한다

# 메모리에 값들을 저장함
# my_int라는 이름표 변수를 값에 붙임

# 복합할당연산자
# +=, -=, *=, /=

In [ ]:
count = 0
count = 1

In [ ]:
count = count+1
count

2

In [ ]:
count = count+1
count

3

In [ ]:
count += 1
count

5

In [ ]:
count -= 1
count

3

In [ ]:
# 산술연산자 + - * /
# * -> 애스터리스크라고 함

# 특수연산자도 있음
# ** // %

# ** 제곱
# // 몫
# % 나머지를 구하는 연산자자

In [ ]:
3 ** 2

9

In [ ]:
7 / 3

2.3333333333333335

In [ ]:
7 // 3

2

In [ ]:
7 % 2

1

In [ ]:
for number in numbers:
  if number % 2 == 1:
    odd_numbers.append(number)

In [ ]:
odd_numbers

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [ ]:
for number in numbers:
  if number % 2 == 1:
    print("홀수")
  else:
    print("짝수")

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수

In [ ]:
for number in numbers:
  if number % 2 == 1:
    print(number, "는 홀수")
  else:
    print(number, "는 짝수")

1 는 홀수
2 는 짝수
3 는 홀수
4 는 짝수
5 는 홀수
6 는 짝수
7 는 홀수
8 는 짝수
9 는 홀수
10 는 짝수

In [ ]:
# 문자열도 연산자가 있음 + *

'김해인' + 'X' + '돼지'

'김해인X돼지'

In [ ]:
'김해인' * 5

'김해인김해인김해인김해인김해인'

In [ ]:
def cls():
  print('\n' * 100) # ' ' 붙이기

In [ ]:
cls() # 함수 호출할땐 뒤에 () 붙여야함

In [ ]:
# 비교 연산자

# == 둘이 같을까? 결과 true, false
# != 둘이 다를까? 결과 true, false

# <
# >

# >=
# <=

In [ ]:
# 논리 연산자

# and 두개가 모두 참일때만 참
# or 한개라도 참이면 참
# not 참이면 거짓, 거짓이면 참

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
False and False

False

In [ ]:
True or True

True

In [ ]:
True or False

True

In [ ]:
False or False

False

In [ ]:
not False

True

In [ ]:
not True

False

In [ ]:
height = 120
age = 8

In [ ]:
h > 140 and age > 10

In [ ]:
h = 190
age = 9

In [ ]:
h > 140 and age > 10

False

In [ ]:
h = 150
age = 32

In [ ]:
h > 140 and age > 10

True

In [ ]:
# membership 연산자
# 리스트에 값이 있는지 없는지를 확인

# in과 not in

In [ ]:
bbang = ['호떡', '빵떡']

In [ ]:
'호떡' in bbang

True

In [ ]:
'소금빵' in bbang

False

In [ ]:
'소금빵' not in bbang

True

In [ ]:
bbang.append('소금빵')

In [ ]:
'소금빵' in bbang

True

In [ ]:
bbang.remove("소금빵빵")

In [ ]:
# if 참인지 거짓인지 판단

# if 조건 : # true, false 둘 중 하나가 나오는 식이 들어감
#    실행할명령1 # true코드블럭
#    실행할명령2 # true코드블럭

# 거짓이면 코드블럭 밖으로 넘어감
# 코드블럭 구분을 하는게 시작은 콜론, 띄어쓰기 4칸

In [ ]:
input_name = '미토피아'

if input_name == '미토피아' :
    print("스위치 게임 {}".format(input_name))

스위치 게임 미토피아

In [ ]:
input_name = '마비노기'

if input_name == '미토피아' :
    print("스위치 게임 {}".format(input_name))

# false면 아무것도 없어서 프린트 안하고 넘어감

In [ ]:
# if랑 같이 쓰는 애들이 있음 1


# if 조건 : # true, false 둘 중 하나가 나오는 식이 들어감
#    실행할명령1 # true 일때 들어오는 코드블럭
#    실행할명령2 # true 일때 들어오는 코드블럭
# else: # false 면 여기로 들어옴
#    실행할명령1 # false 일때 들어오는 코드블럭
#    실행할명령2 # false 일때 들어오는 코드블럭

In [ ]:
# if랑 같이 쓰는 애들이 있음 2
# elif 엘이프 : 여러개 사용 가능함!!!


# if 조건 : # true, false 둘 중 하나가 나오는 식이 들어감
#    실행할명령1 # true 일때 들어오는 코드블럭
#    실행할명령2 # true 일때 들어오는 코드블럭
# elif: # false 면 여기로 들어옴 # 근데 또 검사를 함!
#    실행할명령1 # elif가 true 일때 들어오는 코드블럭
#    실행할명령2 # elif가 true 일때 들어오는 코드블럭

# elif에서 false 면 아무것도 실행안하고 넘어감

In [ ]:
# if 조건 : # true, false 둘 중 하나가 나오는 식이 들어감
#    실행할명령1
#    실행할명령2
# elif: # 위의 if가가 false 면 여기로 내려옴옴
#    실행할명령1
#    실행할명령2
# elif: # 위의 elif가 false 면 여기로 들어옴
#    실행할명령1
#    실행할명령2
# else: # 위의 모든 조건에 해당되지 않으면 무조건 들어옴
#    실행할명령1 
#    실행할명령2

In [ ]:
input_name = '미토피아'

if input_name == '미토피아' :
    print("스위치 게임 {}".format(input_name))
elif input_name == "마비노기":
    print("온라인 게임")
else:
    print("아무것도 아님!")

스위치 게임 미토피아

In [ ]:
input_name = '히프마이'

if input_name == '미토피아' :
    print("스위치 게임 {}".format(input_name))
elif input_name == "마비노기":
    print("온라인 게임")
else:
    print("아무것도 아님!")

아무것도 아님!

In [ ]:
# 반복문

# 코드 양이 확 줄어듦
# 오늘은 while

In [ ]:
# while 조건:      # 조건이 true 아니면 false
#    실행할 명령1
#    실행할 명령2

# if 랑 똑같이 생김!
# true일때 한번 돌고 맨위로 또 돌아옴
# false가 되면 이쪽으로 나오게 됨

In [ ]:
count = 0

while count < 3:
  print("횟수 : ", count)
  count += 1

횟수 :  0
횟수 :  1
횟수 :  2

In [ ]:
count = 0

while count < 3:
  print("횟수 : {}".format(count))
  count += 1

횟수 : 0
횟수 : 1
횟수 : 2

In [ ]:
# 무한루프

#count = 0

#while count < 3:
#  print("횟수 : {}".format(count))


# 컨트롤c 누르면 중지됨 도스도 가능

In [ ]:
# continue
# break

# 반복문 안에서 쓸 수 있는 키워드

# continue : 밑에 있는 문장을 실행하지 않고 바로 조건문, 위로 다시 올라감
# break : 반복문을 그냥 끝내버림, 무한루프 끝낼 수 있음

In [ ]:
count = 0

while count < 10:
  count += 1
  if count <4:
    continue
  print('횟수 : ', count)
  if count == 8:
    break

횟수 :  4
횟수 :  5
횟수 :  6
횟수 :  7
횟수 :  8

In [ ]:
# 컨티뉴, 브레이크까지 함 # 41부터

In [ ]:
# 딕셔너리 - {} 중괄호
# 키와 값이 쌍으로 이루어져 있는것것

# 리스트랑 비슷함 여러개값을 관리함
# 리스트와 다른점 : 딕셔너리는 관련된 정보를 서로 연관시킴

# {key1: val1, }
# 리스트는 1번위치값, 2번위치값 이런걸 숫자를 통해서 가져옴
# 딕셔너리는 키를 통해서 가져옴, 어떻게 보면 이름을 붙이는것

In [ ]:
my_dict = {}

In [ ]:
my_dict

{}

In [ ]:
type(my_dict)

dict

In [ ]:
my_dict[0] = 'a'

In [ ]:
my_dict
# 0이 키 문자열 a가 값

{0: 'a'}

In [ ]:
my_dict['b'] = 2 # 문자열도 가능, 2라는 숫자가 값 아까랑 반대

In [ ]:
my_dict

{0: 'a', 'b': 2}

In [ ]:
my_dict['소금빵'] = '미지엄'

In [ ]:
my_dict

{0: 'a', 'b': 2, '소금빵': '미지엄'}

In [ ]:
my_dict['소금빵']

'미지엄'

In [ ]:
print(my_dict['소금빵'])

미지엄

In [ ]:
# 딕셔너리 삭제

del my_dict[0]

In [ ]:
my_dict

{'b': 2, '소금빵': '미지엄'}

In [ ]:
my_dict['크리스피도넛'] = '글레이즈드'

In [ ]:
# 함수 : 어떤 기능을 수행하기 위해서 코드를 모아놓은 것 - 코드의 모음
# 메서드 : 함수의 일종, 딕셔너리만 사용할 수 있는 함수, 리스트만 사용할 수 있는 함수 이런식임

In [ ]:
for bread in my_dict.values (): # 뒤에 .values를 붙이면 값만 가져와서 전달
  print(bread)

2
미지엄
글레이즈드

In [ ]:
for bread in my_dict :
  print(bread)

b
소금빵
크리스피도넛

In [ ]:
for bread in my_dict.keys() :
  print(bread)

b
소금빵
크리스피도넛

In [ ]:
for bread in my_dict.items() : 
  print(bread)

('b', 2)
('소금빵', '미지엄')
('크리스피도넛', '글레이즈드')

In [ ]:
for key,val in my_dict.items() : # 이게 강의에서 쓴거
  print(key, val)

b 2
소금빵 미지엄
크리스피도넛 글레이즈드

In [ ]:
# 함수
# print, input, type 등등
# 반복되는 코드를 묶어서 이름을 붙여놓은것, 다시쓸 수 있게
# 반죽에 별모양 틀 틀 찍으면 별모양 나오는것처럼 별모양양 틀이 함수

In [ ]:
# 1. 내장함수 : print같은거 바로 쓸 수 있음
# 2. 모듈함수 : import 해서 가져다가 쓸 수 있는 함수
# 3. 사용자 정의 함수 : 함수를 직접 만든것

In [ ]:
# def 함수이름 (인자1, ...) : # 인자 = 매개변수, 입력값이 있을수도 있고 없을수도 있음
#   실행할명령1
#   실행할 명령2


#   return 결과 # 있어도 되고 없어도 되긴하는데 결과값을 돌려줌줌

In [ ]:
# 함수를 사용하는 이유

# 1. 만들어놓으면 다시 사용할 수 있음
# 2. 코드를 관리하기가 쉬워짐

# 마술모자 100개를 만들어야 하는데 함수를 안쓰면
# 각각 해리포터꺼 론꺼 헤르미온느꺼 만들어야 해서서 너무 길어짐

#.3. 조립해서 사용할 수 있음
# 슬리데린 모자, 그리핀도르 모자를 하나에 쌓아둘 수도 있음 = 모듈

In [ ]:
def add(num1, num2) :
  return num1 + num2

In [ ]:
add(1,2) # 함수를 호출

3

In [ ]:
# 여러개를 돌려받는법

def add_mul(num1, num2) :
  return num1 + num2, num1 * num2

In [ ]:
add_mul(1,2)

(3, 2)

In [ ]:
# 위에서 튜플로 받아옴
# 값이 여러개 있으면 튜플로 받아옴!

# 패킹, 언패킹이 되는거임
# 결론적으로 함수는 한개의 튜플을 반환한다다

In [ ]:
my_add, my_mul = add_mul(1,2)

In [ ]:
my_add

3

In [ ]:
my_mul

2

In [ ]:
# 모듈 : 비슷한 함수들을 모아놓은 파일 import로 쓰는것
# 우리가 직접 만들 수 있고(비추천), 다른사람꺼 가져올 수 있고, 파이썬애 내장된것도 있음

In [ ]:
# ex : random 모듈을 한번 써보기

In [ ]:
import random

fruit = ['사과', '배', '오렌지']

In [ ]:
random.choice(fruit)

'사과'

In [ ]:
fruit.append('레드향')

In [ ]:
print(random.choice(fruit)) # 랜덤으로 값을 뽑아줌

레드향

In [ ]:
random.sample(fruit, 2) # sample은 여러개의 값을 중복없이 한번에 뽑아줌
# 뒤에 input 값이 들어가야 실행됨 아니면 오류

['배', '레드향']

In [ ]:
random.sample(range(1,10), 4)

[3, 2, 6, 4]

In [ ]:
random.randint(1, 10) # 숫자의 범위를 지정해서 그 숫자 중에 하나를 선택함

9

In [ ]:
# 외우지 말고 모듈 쓰는거 해본거임

In [ ]:
# object < - 파이썬은 대부분이 객체임

# 객체는 현실의 물체,사물을 컴퓨터로 재현한것임
# 프로그램이 현실의 문제를 해결하기 위해 만든거라 객체도 반드시 필요함함
# 함수와 데이터를 한꺼번에 묶어서 만들어놓은것
# 파이썬의 대부분의 것들이 객체임!

# 기타를 만들기 위해 함수와 데이터를 모아야함
# 용사라는 객체의 아이템인 데이터 : 레벨, 체력, 마나, 포션
# 용사라는 객체의 행동인 함수 : 이동한다, 뛴다, 휘두른다

In [ ]:
my_list = [1,2,3] # <- 객체 레벨 마나 포션을 가지고 있음
my_list.append(4) # <- 행동인 list가 append라는 함수를 가지고 있음

In [ ]:
my_list

[1, 2, 3, 4]

In [ ]:
# 코딩스타일

# 코드를 보기 좋게 작성하기
# pep8 <ㅡ 만든사람(귀도반)이 제안하는 제안서
# 한글로도 쳐보면 번역번이 있음

In [ ]:
# 한 화면에 80글자를 못넘는 기계가 있어서 79글자까지만 쓰기
# 등등

In [ ]:
# 구글링

from datetime import datetime

datetime.now()                # 현재 날짜 가져오기  
print(datetime.now())         # 이게 더 깔끔함함 

# 한국어 자료가 한계가 있어서
# 나중에는 영어자료를 찾을 필요가 있음 그땐 네이버<<<구글임

2023-01-22 17:45:11.684098

In [ ]:
# 스택오버플로우 팁!

# 1. 일단 질문건너뛰기 - 질문은 잘못된 코드가 올라와있어서 답변부터 보기
# 2. 일단 코드부터 보기 - import 된거 모르면 검색하기

In [ ]:
# import, from import 차이
# import 만 쓰면 np.test
# from ~~ import 쓰면 test만 써도 넘파이로 됨

# from 패키지 import 함수 형태로 사용하는 문법에서는
# 패키지 이름.함수 이름 형태가 아니라 함수 이름 단독으로 바로 사용이 가능해집니다.

In [ ]:
import numpy as np
from numpy import linalg as LA
from numpy.linalg import norm

# 위의 3가지 import 형태 순서와 매칭되는 함수 사용 형태 순서
np.linalg.norm([1, 3, 5])
LA.norm([1, 3, 5])
norm([1, 3, 5])

In [ ]:
# 겹칠때는 패키지 명을 포함한 import 형태를 사용하시거나,

# 꼭 필요한 함수만 from import로 따로 가져오기